*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: aquamarine;
}

/* თიკო, ამ ნაწილამდე შეგიძლია შეცვალო მთავარი გვერდის სტილების მიხდვით */

#button{
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    font-family: FiraGO;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

#button:hover{
    cursor: pointer;
}

.logInPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    min-height: 272px;
    height: fit-content;
    border-radius: 12px;
    background: #FFF;
    display: none;
    flex-direction: column;
    padding: 40px 24px;
    gap: 24px;
}


.entering{
    color: #1A1A1F;
    text-align: center;
    font-family: FiraGO;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.enterEmail{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email{
    color: #1A1A1F;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.inputMail{
    width: 432px;
    height: 44px;
    border-radius: 12px;
    border: 1.5px solid #5D37F3;
    background: #F7F7FF;
    padding-left: 16px;
}

.noMail{
    display: none;
    flex-direction: row;
    gap: 8px;
    margin-top: -16px;
}

.notFound{
    color: #EA1919;
    font-family: FiraGO;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.inputMail::placeholder{
    color: #85858D;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.enter{
    display: flex;
    width: 432px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    color: #FFF;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: none;
}

.enter:hover{
    cursor: pointer;
}

.successPopUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 64px 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successPopUp{
    padding: 64px 24px 40px;
    width: 480px;
    height: 300px;
    border-radius: 12px;
    background: #FFF;
    display: none;
}

.successLogIn{
    margin: 16px 0px 48px;
    color: #1A1A1F;
    text-align: center;
    font-family: FiraGO;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}

.agree{
    display: flex;
    width: 432px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #5D37F3;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: none;
}

.agree:hover{
    cursor: pointer;
}